body{
    background-color:snow; 
}
section{
    margin:4%;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    padding:4% 0;
     background-color:rgb(251, 238, 251); 
     border-radius: 20Px;
}

article{
    margin: 2%;
    padding:1%;
    width:16%;
    text-align: center;
    background-color:lightgrey; 
    box-shadow: 2px 2px 2px 2px;
}
img{
    width:100%;
}
@media (min-device-width:320px) and (max-device-width:480px) 
{
    body{
        background-color:rgb(26, 7, 7); 
    }
    section{
        display:inline-block;
        justify-content: center;
    word-wrap: break-word;
    margin:2%;
    width:89%;
    padding:0;
    background-color:rgb(26, 7, 7); 
    border-radius:0;
    }
    article{
        margin-top:4%;
        padding:1%;
        width:100%;
        text-align: center;
        background-color:lightgrey; 
    }
    img{
        width:100%;
    }
}
@media (min-device-width:481px) and (max-device-width:780px) 
{
    body{
        background-color:oldlace;
    }
    section{
        display:inline-block;
        justify-content: center;
    word-wrap: break-word;
    margin:2%;
    width:89%;
    padding:0;
    background-color:oldlace; 
    border-radius:0;
    font-size:30px;
    }
    article{
        margin-top:4%;
        padding:1%;
        width:100%;
        text-align: center;
        background-color:lightgrey; 
    }
    img{
        width:100%;
    }
}
@media (min-device-width:781px) and (max-device-width:1080px) {
body{
    background-color:rgb(8, 3, 34); 
}
section{
    display:inline-block;
    justify-content: center;
word-wrap: break-word;
margin:2%;
width:89%;
padding:0;
background-color:rgb(8, 3, 34); 
border-radius:0;
font-size:30px;
}
article{
    margin-top:4%;
    padding:1%;
    width:100%;
    text-align: center;
    background-color:lightgrey; 
}
img{
    width:100%;
}
}